body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blue);
    background-image: url(../img/fundosessaofinal.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 100%;
    background-color: #fff;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(109, 196, 253, 0.2);
}

.containerLogin {
    width: 30%;
    background-color: var(--white);
    color: var(--blue);
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(109, 196, 253, 0.2);
}

.containerLogin button {
    background: var(--orange);
    border-color: var(--orange);
}

.containerLogin button:hover{
    background: var(--orange-100);
    border-color: var(--orange);
}

.status-bar {
    margin-top: 3rem;
    display: flex;
    gap: 60px;
    justify-content: center;
}

.status-column {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
}

.btn-outline-light:hover{
    background: #ea5e24;
    color: #ffffff;
}

.status-column i {
    font-size: 2rem;
    background: #8bd1cf;
    color: #dff8f7;
    border-radius: 50%;
    padding: 5px;
    display: inline-flex;
    justify-content: center; 
    align-items: center; 
}

.mensagem {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f0f0f0; /* Cor de fundo da mensagem */
    text-align: center; /* Centralizar o texto horizontalmente */
    display: none;
}


@media (min-width: 768px) {
    body {
        padding-top: 70px;
    }
}
