.bodyIndex{
    background: var(--blue);
    padding-left: 2rem;
    align-items: center;
    color: var(--white);
}

.bodyIndex .container {
    margin: auto;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
}

.solicitacao h1{
    font-size: 3rem;
}

.solicitacao h2{
    font-size: 2rem;
}

.solicitacao h3 {
    font-size: 1rem;
}

.bodyIndex p{
    font-size: 0.8rem;
}

.solicitacao {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
}

.novaSolicitacao {
    background: var(--blue-200);
    color: var(--blue);
    font-weight: 500;
}

.novaSolicitacao:hover {
    background: var(--orange);
}

.acompanharSolicitacao {
    background: var(--blue);
    border-color: var(--blue-200);
}