body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--blue);
    background-image: url(../img/fundosessaofinal.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 100%;
    background-color: #fff;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(109, 196, 253, 0.2);
}

.containerLogin {
    width: 30%;
    background-color: var(--white);
    color: var(--blue);
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(109, 196, 253, 0.2);
}

.containerLogin button {
    background: var(--orange);
    border-color: var(--orange);
}

.containerLogin button:hover{
    background: var(--orange-100);
    border-color: var(--orange);
}