* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}

:root{
    --blue: #004BC8;
    --white: #FFFFFF;
    --white-100: #F1F1F1;
    --blue-200: #8BD1CF;
    --orange: #EA5E24;
    --orange-100: #eb895f;
    --gray: #8C8C8D;
}

.messageError {
    color: red;
    visibility: hidden;
}

.tooltip {
    visibility: hidden;
    position: absolute;
    background-color: #dc3545;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 5px;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #dc3545 transparent transparent transparent;
}

.tooltip.show {
    visibility: visible;
    opacity: 1;
}

.invalid {
    border: 1px solid #dc3545;
}