* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}

:root{
    --blue: #004BC8;
    --white: #FFFFFF;
    --white-100: #F1F1F1;
    --blue-200: #8BD1CF;
    --orange: #EA5E24;
    --gray: #8C8C8D;
}