<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/node_modules/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/solicitacao.css">

    <title>Mídia Ideal</title>
</head>
<body class="bodySolicitacao impresso">
    <div class="container">
        <div class="row">
            <div class="col-2">
                <img src="/img/botãoPrev.svg" alt="logo branca Mídia Ideal" class="mt-3">
            </div>
            <div class="col-8 solicitacao">
                <img src="/img/logoMidia.png" class="img-fluid" width="30%">
                <h3> Olá <strong> <%= (primeiraEtapa.nome) %> </strong>, vamos continuar, </h3>
                <form class="text-center" action="/publico" method="post">
                    <div class="form-group mt-3">
                        <label for="nome" class="d-block">Essa impressão foi autorizada pelo seu superior?
                            (Wanderlei ou Sr. Francisco)</label>
                        <span class="d-block mt-3 mb-3"> Essa autorização é necessária, pois para a confecção do material impresso, precisamos de liberação do orçamento, independente do valor.</span>
                        
                        <input type="radio" class="btn-check" name="autorizacaoTem" id="autorizacaoTem1" autocomplete="off" value="sim">
                        <label class="btn btn-secondary check-btn" for="autorizacaoTem1">
                            SIM </br>
                        </label>

                        <input type="radio" class="btn-check" name="autorizacaoTem" id="autorizacaoTem2" autocomplete="off" value="não">
                        <label class="btn btn-secondary" for="autorizacaoTem2">
                            NÃO <BR>
                        </label>
                    </div>
                    <div class="col-12" id="seNao">
                        <img src="/img/iconedeatencao.png" alt="ícone de atenção">
                        <p class="mt-3">Você só poderá concluir após receber a aprovação do seu superior.</p>
                    </div>
                    <div id="seSim">
                        <div class="mb-3 mt-3">
                            <label for="formFile" class="form-label">Insira aqui o print da autorização.</label> <br>
                            <span> Um print da conversa solicitando e a autorização para produzir o material.</span>
                            <input class="form-control mt-3" type="file" id="formFile">
                        </div>
                        <button class="btn btn-primary mt-3 float-end" id="btnProximo" type="submit">Próximo <i class="bi bi-chevron-right"></i></button>
                    </div>
                </form>
                
            </div>
        </div>
    </div>
</body>
<script src="/node_modules/jquery/dist/jquery.min.js"></script>
<script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script>
    $(document).ready(function () {
        $('#seSim, #seNao').hide();

        $('input[name="autorizacaoTem"]').change(function () {
            $('#seSim, #seNao').hide();

            var selectedValue = $(this).val();

            if (selectedValue === 'sim') {
                $('#seSim').show();
            } else if (selectedValue === 'não') {
                $('#seNao').show();
            }
        });
    });
</script>
</html>