<h3> Aguarde <strong><span class="nomeUsuario"> </span></strong>, estamos processando a solicitação </h3>
<div class="loader mt-3">
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
</div>