<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/node_modules/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/solicitacao.css">

    <title>Mídia Ideal</title>
</head>
<body class="bodySolicitacao">
    <div class="container">
        <div class="row">
            <div class="col-2">
                <img src="/img/botãoPrev.svg" alt="logo branca Mídia Ideal" class="mt-3">
            </div>
            <div class="col-8 solicitacao">
                <img src="/img/logoMidia.png" class="img-fluid" width="30%">
                <h3> Olá <strong> <%= (primeiraEtapa.nome) %> </strong>, vamos continuar, </h3>
                <form class="text-center" action="/finalizacao" method="post">
                    <div class="form-group mt-3 text-center">
                        <label for="formGroupExampleInput2" class="d-block">ESPECIFIQUE AS INFORMAÇÕES COMPLEMENTARES PARA FACILITAR A CRIAÇÃO DO MATERIAL. </label>
                        <span> Inclua aqui contatos, endereços, datas, chamadas específicas e/ou de exemplo, e qualquer outra informação que você deseja. </span>
                        <textarea class="form-control" id="maisInfos" rows="4"></textarea>
                    </div>
                    <div class="mb-3 mt-3">
                        <label for="formFile" class="form-label">Anexo de referência (OPCIONAL)</label> <br>
                        <span> Você tem alguma referência que recebeu ou viu nas redes sociais para criar este material? Anexe aqui.</span>
                        <input class="form-control mt-3" type="file" id="referenciaAnexo" name="referenciaAnexo">
                    </div>
                    <button class="btn btn-primary mt-3 float-end" id="btnProximo" type="submit">Próximo <i class="bi bi-chevron-right"></i></button>
                </form>
                
            </div>
            <div class="col-2">

            </div>
        </div>
    </div>
</body>
<script src="/node_modules/jquery/dist/jquery.min.js"></script>
<script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/js/index.js"></script>
</html>