
<div class="form-group mt-3">
    <label for="nome" class="d-block">Qual seu nome?</label>
    <input type="text" class="form-control" id="nome" name="nome" placeholder="Seu nome" required>
</div>
<div class="form-group mt-3">
    <label for="nome" class="d-block">Qual seu telefone?</label>
    <input type="number" class="form-control" id="telefone" name="telefone" placeholder="Telefone" required>
</div>
<div class="form-group mt-3 text-center">
    <label for="formGroupExampleInput2" class="d-block">Para qual empresa é este material?</label>
    <span class="d-block">Aqui selecione qual empresa utilizará esse material.</span>
    <select class="form-select" name="qualEmpresa" id="qualEmpresa" required>
        <option selected disabled value="">Selecione uma opção</option>
        <option value="AllCross">AllCross</option>
        <option value="BRKR">BRKR</option>
        <option value="Canal de Negócios">Canal de Negócios</option>
        <option value="Classe">Classe</option>
        <option value="Compar">Compar</option>
        <option value="Espaço Assessoria">Espaço Assessoria</option>
        <option value="Freedom">Freedom</option>
        <option value="Império">Império</option>
        <option value="Kop Seguros">Kop Seguros</option>
        <option value="Mount Hermon">Mount Hermon</option>
        <option value="MountPay">MountPay</option>
        <option value="Prime Broker">Prime Broker</option>
        <option value="T. Becker">T. Becker</option>
        <option value="Tear">Tear</option>
        <option value="Select">Select</option>

    </select>
    <div class="tooltip show">
        Selecione uma opção
    </div>
</div>