
<h3> Olá <strong><span class="nomeUsuario"> </span></strong>, vamos continuar, </h3>
<div class="form-group mt-3 text-center">
    <label for="formGroupExampleInput2" class="d-block">Qual sua cidade/unidade 
        <span class="d-block mt-3 mb-3"> Escreva o nome da unidade ou a cidade referente a empresa ao qual está solicitando o material</span>
    </label>
    <input class="form-select" name="qualUnidade" required>
</div>
<div class="form-group mt-3">
    <label for="nome" class="d-block">Qual é o tipo de material que você quer que seja produzido?</label>
    <span class="d-block mt-3 mb-3"> Selecione a opção que mais se encaixa no seu objetivo de divulgação</span>
    
    <input type="radio" class="btn-check" name="tipoMaterial" id="tipoMaterial1" autocomplete="off" value="impresso" required>
    <label class="btn btn-secondary check-btn" for="tipoMaterial1" value="impresso">
        IMPRESSO </br>
        <span> Material para ser utilizado em divulgações externas</span>
    </label>

    <input type="radio" class="btn-check" name="tipoMaterial" id="tipoMaterial2" autocomplete="off" value="digital">
    <label class="btn btn-secondary" for="tipoMaterial2">
        DIGITAL <BR>
        <span> 
            Material para ser utilizado em redes sociais e WhatsApp. </span>
    </label>
</div>
<script>
    
</script>