<h3> Olá <strong><span class="nomeUsuario"> </span></strong>, vamos continuar, </h3>
<div class="form-group mt-3 publico">
    <label for="nome" class="d-block">Qual é o público da sua solicitação?</label>
    
    <input type="checkbox" class="btn-check mt-3" name="qualPublico" id="qualPublico1" autocomplete="off" value="CORRETORES (MOTIVACIONAL)">
    <label class="btn btn-secondary check-btn" for="qualPublico1">
        <strong>CORRETORES (MOTIVACIONAL)</strong> Quer motivar seu corretor a vender mais ou a começar a semana bem? Essa é a opção mais adequada para o seu objetivo.
    </label>

    <input type="checkbox" class="btn-check mt-3" name="qualPublico" id="qualPublico2" autocomplete="off" value="CORRETORES (INFORMATIVO)">
    <label class="btn btn-secondary" for="qualPublico2">
        <strong>CORRETORES (INFORMATIVO)</strong> Se você quer informar sobre campanhas, horários, feriados, regras ou outras notícias relevantes para o mercado, selecione essa opção. <BR>
    </label>

    <input type="checkbox" class="btn-check mt-3" name="qualPublico" id="qualPublico3" autocomplete="off" value="CLIENTE FINAL (VENDAS E COMERCIALIZAÇÃO)">
    <label class="btn btn-secondary" for="qualPublico3">
        <strong>CLIENTE FINAL (VENDAS E COMERCIALIZAÇÃO)</strong> 
        Este é o formato ideal para vender produtos para os seus clientes.
    </label>

    <input type="checkbox" class="btn-check mt-3" name="qualPublico" id="qualPublico4" autocomplete="off" value="DONOS DE CORRETORAS (INFORMATIVO)">
    <label class="btn btn-secondary" for="qualPublico4">
        <strong>DONOS DE CORRETORAS (INFORMATIVO)</strong>
        Nesta opção o objetivo é enviar o material para donos de empresas parceiras.
    </label>

    <input type="checkbox" class="btn-check mt-3" name="qualPublico" id="qualPublico5" autocomplete="off" value="DONOS DE CORRETORAS (INFORMATIVO)">
    <label class="btn btn-secondary" for="qualPublico5">
        <strong> ENDOMARKETING:</strong>
        Estratégia de marketing voltada para o público interno da empresa.
    </label>
</div>