<h3> Olá <strong><span class="nomeUsuario"> </span></strong>, vamos continuar, </h3>
<div class="form-group mt-3 text-center">
    <label for="formGroupExampleInput2" class="d-block">ESPECIFIQUE AS INFORMAÇÕES COMPLEMENTARES PARA FACILITAR A CRIAÇÃO DO MATERIAL. </label>
    <span> Inclua aqui contatos, endereços, datas, chamadas específicas e/ou de exemplo, e qualquer outra informação que você deseja. </span>
    <textarea class="form-control" id="maisInfos" rows="4" name="maisInfos" required></textarea>
</div>
<div class="mb-3 mt-3">
    <label for="formFile" class="form-label">Anexo de referências ou arquivos Complementares (OPCIONAL)</label> <br>
    <span> Você tem alguma referência que recebeu ou viu nas redes sociais para criar este material? Anexe aqui. <br>
    Assim como se houver alguma planilha, PDF ou arquivo complementar para produção do material anexe aqui <br>
    ATENÇÃO: anexo um arquivo de cada vez, por gentileza e aguarde seu carregamento completo abaixo</span>
    <div class="containerUpload">
        <div class="file-upload"> 1
            <input type="file" name="file-input" class="file-input" multiple="multiple">
            <div class="icon">
                <ion-icon name="arrow-up-outline"></ion-icon>
            </div>
            <h3>Arraste e solte os arquivos aqui</h3>
            <span> Ou </span>
            <strong> Procurar </strong>
            <button class="remove">
                <ion-icon name="close"></ion-icon>
            </button>
        </div>
        <div class="list-upload">
            <ul>
            </ul>
        </div>
    </div>
</div>