
<h3> Olá <strong><span class="nomeUsuario"> </span></strong>, vamos continuar, </h3><div class="form-group mt-3">
    <label for="nome" class="d-block">ESSE MATERIAL TERÁ VALOR?</label>
    <span class="d-block mt-3 mb-3"> <strong>Por exemplo: </strong><br>
        a partir de R$119,90, com 10% de desconto, ou para campanhas com valor ou porcentagem de premiação.</span>
    
    <input type="radio" class="btn-check" name="temValor" id="temValor1" autocomplete="off" value="sim" required>
    <label class="btn btn-secondary check-btn" for="temValor1">
        SIM </br>
    </label>

    <input type="radio" class="btn-check" name="temValor" id="temValor2" autocomplete="off" value="nao">
    <label class="btn btn-secondary" for="temValor2">
        NÃO <br>
    </label>
</div>
<div id="seSimValor">
    <div class="mb-3 mt-3">
        <label for="" class="form-label">ESPECIFIQUE VALOR, VIGÊNCIA E INFORMAÇÕES DO PRODUTO</label> <br>
        <span> <strong>Exemplo:</strong> Vigência: 16/11, 01/12
            Faixa etária: 0 a 18 anos | 472.263/14-9 - Coletivo Por Adesão Flex Local Enfermaria.</span>
            <textarea class="form-control" id="infosValores" name="infosValores" rows="3"></textarea>
    </div>
</div>