<div class=row>
    <label for="formGroupExampleInput2" class="d-block"><strong><span class="nomeUsuario"> </span></strong>, qual material digital? </label>
    <select class="form-select mt-3" aria-label="Default select example" name="qualMaterial" id="qualMaterial" required>
        <option selected disabled value="">Selecione uma opção</option>
        <option value="FEED" data-exemplo="feed">FEED</option>
        <option value="STORY" data-exemplo="story">STORY</option>
        <option value="REELS(VÍDEO)" data-exemplo="reels">REELS(VÍDEO)</option>
        <option value="VÍDEO YOUTUBE" data-exemplo="videoYoutube">VÍDEO YOUTUBE</option>
        <option value="LP'S" data-exemplo="lps">LP'S</option>
        <option value="E-MAIL MARKETING" data-exemplo="emailMarketing">E-MAIL MARKETING</option>
        <option value="FOTO DE PERFIL" data-exemplo="fotoPerfil">FOTO DE PERFIL</option>
        <option value="CARTÃO DE VISITA VIRTUAL" data-exemplo="cartaoVisita">CARTÃO DE VISITA VIRTUAL</option>
        <option value="CARTÃO CORRETOR COM OPERADORAS" data-exemplo="cartaoCorretor">CARTÃO CORRETOR COM OPERADORAS</option>
        <option value="CARTÃO DE ANIVERSÁRIO" data-exemplo="cartaoAniversario">CARTÃO DE ANIVERSÁRIO</option>
        <option value="CARTÃO DE BOAS VINDAS" data-exemplo="cartaoBoasVindas">CARTÃO DE BOAS VINDAS</option>
        <option value="PROPOSTAS">PROPOSTAS</option>
        <option value="MANUAL">MANUAL</option>
        <option value="OUTROS" data-exemlo="OUTROS">OUTROS - Vou esecificar na última etapa</option>

    </select>
    <div class="row feed exemplos">
        <div class="col-5 text-end">
            <h3 class="text-center">Exemplo:</h3>
            <img src="/img/feedTexto.png" class="img-fluid">
        </div>
        <div class="col-5 text-start">
            <img src="/img/feedExemplo.png" class="img-fluid">
        </div>
    </div>
    <div class="row story exemplos">
        <div class="col-5 text-end">
            <h3 class="text-center">Exemplo:</h3>
            <img src="/img/storyTexto.png" class="img-fluid">
        </div>
        <div class="col-5 text-start">
            <img src="/img/storyExemplo.png" class="img-fluid">
        </div>
    </div>
    <div class="row reels exemplos">
        <div class="col-5 text-end">
            <h3 class="text-center">Exemplo:</h3>
            <img src="/img/reelsTexto.png" class="img-fluid">
        </div>
        <div class="col-5 text-start">
            <img src="/img/reelsExemplo.png" class="img-fluid">
        </div>
    </div>
    <div class="row videoYoutube exemplos">
        <div class="col-5 text-end">
            <h3 class="text-center">Exemplo:</h3>
            <img src="/img/videoYoutubeTexto.png" class="img-fluid">
        </div>
        <div class="col-5 text-start">
            <img src="/img/videoYoutubeExemplo.png" class="img-fluid">
        </div>
    </div>
    <div class="row lps exemplos">
        <div class="col-5 text-end">
            <h3 class="text-center">Exemplo:</h3>
            <img src="/img/lpsTexto.png" class="img-fluid">
        </div>
        <div class="col-5 text-start">
            <img src="/img/lpsExemplo.png" class="img-fluid">
        </div>
    </div>
    <div class="row emailMarketing exemplos">
        <div class="col-5 text-end">
            <h3 class="text-center">Exemplo:</h3>
            <img src="/img/emailMarketingTexto.png" class="img-fluid">
        </div>
        <div class="col-5 text-start">
            <img src="/img/emailMarketingExemplo.png" class="img-fluid">
        </div>
    </div>
    <div class="row fotoPerfil exemplos">
        <div class="col-5 text-end">
            <h3 class="text-center">Exemplo:</h3>
            <img src="/img/fotoperfilTexto.png" class="img-fluid">
        </div>
        <div class="col-5 text-start">
            <img src="/img/fotoPerfilExemplo.png" class="img-fluid">
        </div>
    </div>
    <div class="row cartaoVisita exemplos">
        <div class="col-5 text-end">
            <h3 class="text-center">Exemplo:</h3>
            <img src="/img/cartaoVisitaTexto.png" class="img-fluid">
        </div>
        <div class="col-5 text-start">
            <img src="/img/cartaoVirtualExemplo.png" class="img-fluid">
        </div>
    </div>
    <div class="row cartaoCorretor exemplos">
        <div class="col-5 text-end">
            <h3 class="text-center">Exemplo:</h3>
            <img src="/img/cartaoCorretorTexto.png" class="img-fluid">
        </div>
        <div class="col-5 text-start">
            <img src="/img/cartaoCorretorExemplo.png" class="img-fluid">
        </div>
    </div>
    <div class="row cartaoAniversario exemplos">
        <div class="col-5 text-end">
            <h3 class="text-center">Exemplo:</h3>
            <img src="/img/cartaoAniversarioTexto.png" class="img-fluid">
        </div>
        <div class="col-5 text-start">
            <img src="/img/cartaoAniversarioExemplo.png" class="img-fluid">
        </div>
    </div>
    <div class="row cartaoBoasVindas exemplos">
        <div class="col-5 text-end">
            <h3 class="text-center">Exemplo:</h3>
            <img src="/img/cartaoBoasVindasTexto.png" class="img-fluid">
        </div>
        <div class="col-5 text-start">
            <img src="/img/cartaoBoasVindasExemplo.png" class="img-fluid">
        </div>
    </div>
</div>