<label for="formGroupExampleInput2" class="d-block"><strong><span class="nomeUsuario"> </span> </strong>, qual material impresso? </label>
<select class="form-select mt-3" aria-label="Default select example" name="qualMaterial" id="qualMaterialImpresso" required>
    <option selected disabled value="">Selecione uma opção</option>
    <option value="PDV - Ponto de Venda" data-exemplos="pdv">PDV - Ponto de Venda</option>
    <option value="FLYER" data-exemplos="flyer">FLYER</option>
    <option value="FOLDER" data-exemplos="folder">FOLDER</option>
    <option value="BANNER" data-exemplos="banner">BANNER</option>
    <option value="PAPEL TIMBRADO / DOCUMENTO" data-exemplos="papelTimbrado">PAPEL TIMBRADO/ DOCUMENTO</option>
    <option value="CARTÃO DE VISITA">CARTÃO DE VISITA</option>
    <option value="CAMISETA/UNIFORME">CAMISETA/UNIFORME</option>
    <option value="BRINDES - CANECA">BRINDES - CANECA</option>
    <option value="BRINDES - GARRAFA">BRINDES - GARRAFA</option>
    <option value="BRINDES - CALENDÁRIO">BRINDES - CALENDÁRIO</option>
    <option value="BRINDES - AGENDA">BRINDES - AGENDA</option>
    <option value="BRINDES - CANETA">BRINDES - CANETA</option>
    <option value="BRINDES - BLOCO DE NOTAS">BRINDES - BLOCO DE NOTAS</option>
    <option value="OUTROS" data-exemlos="OUTROS">OUTROS - Vou especificar na última etapa</option>

</select>
<div class="row pdv exemplos">
    <div class="col-5 text-end">
        <h3 class="text-center">Exemplo:</h3>
        <img src="/img/pdvTexto.png" class="img-fluid">
    </div>
    <div class="col-5 text-start">
        <img src="/img/pdvExemplo.png" class="img-fluid">
    </div>
</div>
<div class="row flyer exemplos">
    <div class="col-5 text-end">
        <h3 class="text-center">Exemplo:</h3>
        <img src="/img/flyerTexto.png" class="img-fluid">
    </div>
    <div class="col-5 text-start">
        <img src="/img/flyerExemplo.png" class="img-fluid">
    </div>
</div>
<div class="row folder exemplos">
    <div class="col-5 text-end">
        <h3 class="text-center">Exemplo:</h3>
        <img src="/img/folderTexto.png" class="img-fluid">
    </div>
    <div class="col-5 text-start">
        <img src="/img/folderExemplo.png" class="img-fluid">
    </div>
</div>
<div class="row banner exemplos">
    <div class="col-5 text-end">
        <h3 class="text-center">Exemplo:</h3>
        <img src="/img/bannerTexto.png" class="img-fluid">
    </div>
    <div class="col-5 text-start">
        <img src="/img/bannerExemplo.png" class="img-fluid">
    </div>
</div>
<div class="row papelTimbrado exemplos">
    <div class="col-5 text-end">
        <h3 class="text-center">Exemplo:</h3>
        <img src="/img/papelTimbradoTexto.png" class="img-fluid">
    </div>
    <div class="col-5 text-start">
        <img src="/img/papelTimbradoExemplo.png" class="img-fluid">
    </div>
</div>