<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/img/logo_icone.svg" type="image/png">
    <title>Mídia Ideal - Gerenciador de Demandas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/index.css">

    <title>Mídia Ideal</title>
</head>
<body class="bodyIndex">
    <a href="/demandas"><button class="btn btn-primary areaRestrita">Área Restrita</button></a>
    <div class="container">
        <div class="row">
            <div class="col-2">
                <img src="/img/logo_branca.png" alt="logo branca Mídia Ideal" class="logomidiaideal">
            </div>
            <div class="col-8 solicitacao">
                <h1> 
                    Olá, bem vindo.
                </h1>
                <img src="/img/Vector1.svg" width="40%">
                <h2>
                    Aqui você pode solicitar suas demandas ao marketing e acompanhar as que já foram feitas.
                </h2>
                <div class="row">
                    <div class="col-10">
                        <h3>
                            Na hora de solicitar algo novo, pedimos que você leia com atenção e siga todos os passos corretamente.
                        </h3>
                    </div>
                    <div class="col-2">
                        <img src="/img/icone.png" alt="" class="iconeSorrindo">
                    </div>
                </div>
                <div class="row btnAcao">
                    <div class="col-4">
                        <a href="/abrirSolicitacao">
                            <button class="btn btn-primary novaSolicitacao">
                                NOVA SOLICITAÇÃO
                            </button>
                        </a>
                    </div>
                    <div class="col-4">
                        <button class="btn btn-secondary acompanharSolicitacao" id="btnAcompanharSolicitacao">
                            ACOMPANHAR SOLICITAÇÃO
                        </button>
                    </div>
                    <div id="formSolicitacao" class="mt-3" style="display:none;">
                        <p> Digite o número da solicitação e clique em verificar para verificar o status </p>
                        <form action="/pesquisarSolicitacao" method="post" class="row justify-content-start">
                            <div class="col-auto">
                                <div class="form-group mb-2">
                                    <input type="text" class="form-control" name="numeroSolicitacao" placeholder="Número da Solicitação">
                                </div>
                            </div>
                            <div class="col-auto">
                                <button id="verificarSolicitacao" type="submit" class="btn btn-primary mb-2">Verificar</button>
                            </div>
                        </form>
                    </div>                                  
                </div>
                <p>
                    Um briefing feito corretamente evita alterações e ajuda na agilidade do processo. Agradecemos a compreensão
                </p>
            </div>
            <div class="col-2">
                <img src="/img/letreiro.png" alt="" class="letreiroMidia">
            </div>
        </div>
    </div>
</body>
<script src="/node_modules/jquery/dist/jquery.min.js"></script>
<script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/js/index.js"></script>
<script>
    document.getElementById('btnAcompanharSolicitacao').addEventListener('click', function() {
    document.getElementById('formSolicitacao').style.display = 'block';
});
</script>
</html>