<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/index.css">

    <title>Mídia Ideal</title>
</head>
<body class="bodyIndex">
    <div class="container">
        <div class="row">
            <div class="col-2">
                <img src="/img/logo_branca.png" alt="logo branca Mídia Ideal">
            </div>
            <div class="col-8 solicitacao">
                <h1> 
                    Olá, bem vindo.
                </h1>
                <h2>
                    Aqui você pode solicitar suas demandas ao marketing e acompanhar as que já foram feitas.
                </h2>
                <div class="row">
                    <div class="col-10">
                        <h3>
                            Na hora de solicitar algo novo, pedimos que você leia com atenção e siga todos os passos corretamente.
                        </h3>
                    </div>
                    <div class="col-2">
                        <img src="/img/icone.png" alt="">
                    </div>
                </div>
                <div class="row btnAcao">
                    <div class="col-4">
                        <button class="btn btn-primary novaSolicitacao">
                            NOVA SOLICITAÇÃO
                        </button>
                    </div>
                    <div class="col-4">
                        <button class="btn btn-secondary acompanharSolicitacao">
                            ACOMPANHAR SOLICITAÇÃO
                        </button>
                    </div>
                </div>
                <p>
                    Um briefing feito corretamente evita alterações e ajuda na agilidade do processo. Agradecemos a compreensão
                </p>
            </div>
            <div class="col-2">
                Texto estilizado
            </div>
        </div>
    </div>
</body>
<script src="/node_modules/jquery/dist/jquery.min.js"></script>
<script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</html>