<!DOCTYPE html>
<html>

<head>
  <link rel="shortcut icon" href="/img/logo_icone.svg" type="image/png">
  <title>Mídia Ideal - Gerenciador de Demandas</title>
  <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/node_modules/bootstrap-icons/font/bootstrap-icons.css">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/login.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
</head>

<body>
  <div class="containerLogin">
    <h2 class="text-center">Mídia Ideal</h2>
    <p class="text-center">Gerenciador de demandas</p>
    <form id="login-form" action="/login-verifica" method="post">
      <div class="form-group">
        <label for="username">Usuário:</label>
        <input type="text" class="form-control" id="username" placeholder="Digite seu usuário" name="username">
      </div>
      <div class="form-group">
        <label for="password">Senha:</label>
        <input type="password" class="form-control" id="password" placeholder="Digite sua senha" name="password">
      </div>
      <button type="submit" class="btn btn-primary btn-block mt-3">Entrar</button>
      <% if (typeof error !== 'undefined' && error) { %>
        <div class="alert alert-danger" role="alert">
          <%= error %>
        </div>
      <% } %>
    </form>
  </div>
  <div class="fixed-bottom"></div>
</body>

<script src="/node_modules/jquery/dist/jquery.min.js"></script>
<script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

</html>