<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/img/logo_icone.svg" type="image/png">
    <title>Mídia Ideal - Gerenciador de Demandas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/node_modules/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/solicitacao.css">

    <title>Mídia Ideal</title>
</head>
<body class="bodySolicitacao">
    <div class="container">
        <div class="row">
            <div class="col-2">
                <img src="/img/botãoPrev.svg" alt="logo branca Mídia Ideal" class="mt-3" onclick="voltarParaEtapaAnterior()">
            </div>
            <div class="col-8 solicitacao">
                <img src="/img/logoMidia.png" class="img-fluid" width="30%">
                <h3> Olá <strong> <%= (primeiraEtapa.nome) %> </strong>, vamos continuar, </h3>
                <form class="text-center" action="/solicitacao3" method="post">
                    <div class="form-group mt-3 text-center">
                        <label for="formGroupExampleInput2" class="d-block">Qual sua cidade/unidade 
                            <span class="d-block mt-3 mb-3"> Escreva o nome da unidade ou a cidade referente a empresa ao qual está solicitando o material</span>
                        </label>
                        <input class="form-select" name="qualUnidade" required>
                        <!-- <select class="form-select" aria-label="Default select example" name="qualUnidade" id="qualUnidade" required >
                            <option selected disabled value="">Selecione uma opção</option>
                            <option value="Minas Gerais">Minas Gerais</option>
                            <option value="Hannovver">Hannovver</option>
                            <option value="BH">BH</option>
                        </select> -->
                    </div>
                    <div class="form-group mt-3">
                        <label for="nome" class="d-block">Qual é o tipo de material que você quer que seja produzido?</label>
                        <span class="d-block mt-3 mb-3"> Selecione a opção que mais se encaixa no seu objetivo de divulgação</span>
                        
                        <input type="radio" class="btn-check" name="tipoMaterial" id="tipoMaterial1" autocomplete="off" value="impresso" required>
                        <label class="btn btn-secondary check-btn" for="tipoMaterial1" value="impresso">
                            IMPRESSO </br>
                            <span> Material para ser utilizado em divulgações externas</span>
                        </label>

                        <input type="radio" class="btn-check" name="tipoMaterial" id="tipoMaterial2" autocomplete="off" value="digital">
                        <label class="btn btn-secondary" for="tipoMaterial2">
                            DIGITAL <BR>
                            <span> 
                                Material para ser utilizado em redes sociais e WhatsApp. </span>
                        </label>
                    </div>
                    <button class="btn btn-primary mt-3 float-end" id="btnProximo" type="submit">Próximo <i class="bi bi-chevron-right"></i></button>
                </form>
                
            </div>
            <div class="col-2">

            </div>
        </div>
    </div>
</body>
<script src="/node_modules/jquery/dist/jquery.min.js"></script>
<script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/js/index.js"></script>
</html>