<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/img/logo_icone.svg" type="image/png">
    <title>Mídia Ideal - Gerenciador de Demandas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/node_modules/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/valorMaterial.css">

</head>
<body class="bodySolicitacao material">
    <div class="container">
        <div class="row">
            <div class="col-2">
                <img src="/img/botãoPrev.svg" alt="logo branca Mídia Ideal" class="mt-3" onclick="voltarParaEtapaAnterior()">
            </div>
            <div class="col-8 solicitacao">
                <img src="/img/midiaideal_logo_azul.png" class="img-fluid" width="30%">
                <h3> Olá <strong> <%= (primeiraEtapa.nome) %> </strong>, vamos continuar, </h3>
                <form class="text-center" action="/especificacoes" method="post">
                    <div class="form-group mt-3">
                        <label for="nome" class="d-block">ESSE MATERIAL TERÁ LOGO?</label>
                        <span class="d-block mt-3 mb-3"> Aqui você deve selecionar todas as logos que precisam estar nesse material, sejam elas de corretora, administradora ou operadora.</span>
                        
                        <input type="radio" class="btn-check" name="temLogo" id="temLogo1" autocomplete="off" value="sim">
                        <label class="btn btn-secondary check-btn" for="temLogo1">
                            SIM </br>
                        </label>

                        <input type="radio" class="btn-check" name="temLogo" id="temLogo2" autocomplete="off" value="não">
                        <label class="btn btn-secondary" for="temLogo2">
                            NÃO <BR>
                        </label>
                    </div>
                    <div id="seSim">
                        <div class="mb-3 mt-3">
                            <h1>SELECIONE:</h1>
                            <div class="row">
                                <div class="col">
                                    <div class="row">
                                        <div class="col-4">
                                            <div class="columnsContainer">
                                                <h2>CORRETORA</h2>
                                                <select class="form-select mb-2" name="corretoras">
                                                    <option value="AllCross">AllCross</option>
                                                    <option value="BRKR">BRKR</option>
                                                    <option value="Império Corretora">Império Corretora</option>
                                                </select>
                                            </div>
                                            <button type="button" class="btn btn-success btn-sm addButtonCorretora"><i class="bi bi-plus-lg"></i></button>
                                        </div>
                                        <div class="col-4">
                                            <div class="columnsContainer">
                                                <h2>ADMINISTRADORA</h2>
                                                <select class="form-select mb-2" name="administradoras">
                                                    <option value="Mount Hermon">Mount Hermon</option>
                                                    <option value="Classe Administradora">Classe Administradora</option>
                                                    <option value="Compar">Compar</option>
                                                </select>
                                                <button type="button" class="btn btn-success btn-sm addButtonAdministradora"><i class="bi bi-plus-lg"></i></button>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="columnsContainer">
                                                <h2>OPERADORA</h2>
                                                <select class="form-select mb-2" name="operadora">
                                                    <option value="Unimed">Unimed</option>
                                                    <option value="Hapvida">Hapvida</option>
                                                    <option value="Sulamerica">Sulamerica</option>
                                                </select>
                                                <button type="button" class="btn btn-success btn-sm addButtonOperadora"><i class="bi bi-plus-lg"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary float-end mt-3" id="btnProximo" type="submit">Próximo <i class="bi bi-chevron-right"></i></button>
                </form>
                
            </div>
        </div>
    </div>
</body>
<script src="/node_modules/jquery/dist/jquery.min.js"></script>
<script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/js/index.js"></script>
<script>
    $(document).ready(function () {
        $('#seSim, #seNao').hide();

        $('input[name="temLogo"]').change(function () {
            $('#seSim, #seNao').hide();

            var selectedValue = $(this).val();

            if (selectedValue === 'sim') {
                $('#seSim').show();
            } else if (selectedValue === 'não') {
                $('#seSim').hide();
            }
        });

        $('.addButtonCorretora').on('click', function () {
            var clonedSelect = `<div class=row>
                                    <div class=col-10>
                                        <select class="form-select mb-2" name="corretoras">
                                            <option value="AllCross">AllCross</option>
                                            <option value="BRKR">BRKR</option>
                                            <option value="Império Corretora">Império Corretora</option>
                                        </select>
                                    </div>
                                    <div class=col-2>
                                        <button type="button" class="btn btn-danger btn-sm removeButton"><i class="bi bi-x-lg"></i></button>
                                    </div>
                                </div>`

            $(this).parent().append(clonedSelect);
        });

        $('.addButtonAdministradora').on('click', function () {
            var clonedSelect = `<div class=row>
                                    <div class=col-10>
                                        <select class="form-select mb-2" name="administradoras">
                                            <option value="Mount Hermon">Mount Hermon</option>
                                            <option value="Classe Administradora">Classe Administradora</option>
                                            <option value="Compar">Compar</option>
                                        </select>
                                    </div>
                                    <div class=col-2>
                                        <button type="button" class="btn btn-danger btn-sm removeButton"><i class="bi bi-x-lg"></i></button>
                                    </div>
                                </div>`

            $(this).parent().append(clonedSelect);
        });

        $('.addButtonOperadora').on('click', function () {
            var clonedSelect = `<div class=row>
                                    <div class=col-10>
                                        <select class="form-select mb-2" name="operadora">
                                            <option value="Unimed">Unimed</option>
                                            <option value="Hapvida">Hapvida</option>
                                            <option value="Sulamerica">Sulamerica</option>
                                        </select>
                                    </div>
                                    <div class=col-2>
                                        <button type="button" class="btn btn-danger btn-sm removeButton"><i class="bi bi-x-lg"></i></button>
                                    </div>
                                </div>`

            $(this).parent().append(clonedSelect);
        });

        $(document).on('click', '.removeButton', function () {
            $(this).closest('.row').remove(); 
        });
    });
</script>
</html>